<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
</head>
<body class="container-fluid text-center">

        <%- include('../partials/nav.ejs') %> 

        <div class="text-center title">
            <h1>Edit Car Page</h1>
        </div>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
                <form action="/<%=data._id %>?_method=PUT" method="POST">
                <div class="form-group">
                    <label for="exampleInputPassword1">Name</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="name" value="<%=data.name%>"/><br/>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Image</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="img" value="<%=data.img%>"></br>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Description</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="description" value="<%=data.description%>"/><br/>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Horse Power</label>
                    <input type="text" class="form-control" id="exampleInputPassword1" name="hp" value="<%=data.hp%>"/><br/>
                </div>
                    <input type="submit" value="submit changes" class="btn btn-secondary">
                </form>
            </div>
            <img src="<%=data.img%>" class="img-fluid w-35" id="imgedit" alt="...">
        </div>
        
        <%- include('../partials/footer.ejs') %>

    </body>
    </html>
