<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %> 
</head>
<body class="container-fluid text-center">

        <%- include('../partials/nav.ejs') %> 

        <div class="text-center title">
          <h1>Edit Car Page</h1>
      </div>

        <div class="jumbotron jumbotron-fluid">
            <div class="container">
              <img src="<%=data.img%>" class="img-fluid w-25" id="showimg" alt="...">
                <h1 class="display-4"><%=data.name %></h1>
                <hr class="my-4">
                <p class="lead">Hp:<%=data.hp%></p>
                <p class="lead">Year:<%=data.year%></p>
                <p class="lead">Make:<%=data.make%></p>
                <p class="lead">Model:<%=data.model%></p>
                
                <p class="lead"><%=data.description %></p>              
                <a href="/<%=data._id%>/edit"><button type="button" class="btn btn-secondary">Edit</button></a>

              </div>

              <div id="showVideo" class="img-fluid">
                <iframe width="826" height="465" src="<%=data.video%>" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
              </div>
              
          </div>
      
          <%- include('../partials/footer.ejs') %>



</body>
</html>